*{
  font-family: 'Calibri';
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
  font-family: 'Calibri';
  
}
/* Position the suggestion list just below the input box */

th, td {
  padding: 9px;
  text-align: left;
}
th {
  background-color: #172b53ca;
  color: white;
  text-align: center;
}

